/* .calendar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

/* .full-calendar {
    height: 100%;
    width: 50%;
} */


.standard-date {
    background-color: 'white';
    height: '100%';
    width: '100%';
}
.unavailable-date {
    background-color: 'red';
    height: '100%';
    width: '100%';
}