.search-page {
  display: flex;
  padding: 20px;
  height: 100vh;
}
  
.search-section {
  width: 30%;
  margin-right: 10px;
}
  
.search-bar {
  display: flex;
  margin-bottom: 10px;
}
  
.search-input {
  flex: 1;
  padding: 10px;
}
  
.search-button {
  padding: 10px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-list {
  padding: 0;
  list-style-type: none;
}

.result-button {
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 5px;
}

.details-section {
  width: 70%;
  overflow-y: auto;
}

.details-list {
  padding: 0;
  list-style-type: none;
  height: 100%;
}

.detail-button {
  width: 100%;
  padding: 20px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 5px;
}
  