.window-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.window-header {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    background: none;
    font-size: 12px;
    cursor: pointer;
}

.window-form {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.full-width {
    width: 100%;
}

.group-label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-group .form-group {
    width: 24%; /* Adjust to fit four date input groups in one row */
}

.window-form label {
    margin-top: 10px;
}

.window-form input,
.window-form textarea,
.window-form select {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.window-form textarea {
    height: 100px;
}

.window-form button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px; /* Add spacing between buttons */
}

.window-form .form-row.buttons {
    justify-content: center; /* Center the buttons */
}

.window-form button:last-of-type {
    margin-right: 0; /* Remove right margin from the last button */
}

.window-form .cancel-button {
    background-color: #ccc; /* Neutral color for cancel button */
    color: black;
}

.window-form .save-button {
    background-color: #4caf50; /* Green color for save button */
    color: white;
}

.window-form .delete-button {
    background-color: #f44336; /* Red color for delete button */
    color: white;
}
