.window-overlay {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    background: white;

    padding: 20px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.window-header {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    background: none;

    font-size: 12px;
    cursor: pointer;
}

.window-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.window-form label {
    margin-top: 10px;
}

.window-form input,
.window-form textarea,
.window-form select {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
}

.window-form button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.window-form button:first-of-type {
    background-color: #4caf50;
    color: white;
}

.window-form button:last-of-type {
    background-color: #f44336;
    color: white;
}

.option-list {
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

.option-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
}

.option-list li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 16px;
}