.global-component {
    /* border: 1px solid black; */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label input[type="date"] {
    width: auto;
}