
.room-row__number-input {
    width: 100%;
}

.room-row__appointment-name {
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.room-row__appointment-extend-previous {
    position: absolute;
    left: -10px;
    top: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 0, 0, 0.5);
}

.room-row__appointment-extend-next {
    position: absolute;
    right: -10px;
    top: 0;
    width: 10px;
    height: 100%;
    background: rgba(0, 255, 0, 0.5);
}
