
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 20px;
    color: white; /* Re-enable if needed */
    
    position: fixed; /* Keep header fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Ensure header is above other content */
}

.header__left {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__subpage-button {
    margin-left: 10px; /* Space between sidebar button and subpage buttons */
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.header__subpage-button:hover {
    background-color: #666;
}

.header__subpage-button.active-button {
    background-color: #f0f0f0;
    border: 2px solid blue;
    color: blue;
}

.header__active-button {
    background-color: #222;
    font-weight: bold;
}