
.input-selector__dropdown {
    position: relative;
    width: 100%;

    z-index: 11;
}

.input-selector__dropdown-container {
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 400px; /* Predefined minimum width */
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.input-selector__input {
    position: relative;
    width: 100%;
}

.input-selector__clear-button {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
    font-size: 16px;
    padding: 4px;
}

.input-selector__input-field {
    width: calc(100% - 60px); /* Adjust width to accommodate the add button */
    box-sizing: border-box; /* Ensure padding and border are included in width calculation */
}

.input-selector__input-container {
    display: flex;
    align-items: center;
    padding: 8px;
}

.input-selector__add-button {
    padding: 8px 12px;
    margin-left: 8px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.input-selector__options {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 700px;
    overflow-y: auto;
}

.input-selector__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.input-selector__option:hover {
    background-color: #f1f1f1;
}

.input-selector__delete-option {
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
    font-size: 14px;
}
