.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar__link {
    padding: 10px;
    margin: 10px;
    background-color: white;
    color: black;
    border: 1px solid rgb(202, 202, 202);
}

.sidebar__button {
    margin-left: 10px; /* Space between sidebar button and subpage buttons */
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.sidebar__button:hover {
    background-color: #666;
}

.sidebar.open + .sidebar__button {
    margin-left: 200px;
}