.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    margin-bottom: 10px;
}

.login-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

.login-button {
    
}

.error-message {
    color: red;
}

.links {
    margin-top: 10px;
}

.links a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}
